* {
  margin: 0%;
  width: auto;
  font-family: 'Robot', sans-serif;
  font-style: normal;
  color: #fff;
}

/* header container */
.top-navigation {
  background-color: #191765;
  display: flex;
  justify-content: space-around;
  margin: 0%;
  width: 100%;
}

/* header log */
.log {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  padding: 2%;
  margin-top: 2%;
}

/* navigation item */
.item-navigation {
  display: flex;
  justify-content: flex-end;
  width: 10%;
  padding: 1.5%;
}

.icon-bar {
  width: 25%;
  padding: 2.5%;
  margin-top: 5%;
}

.frame-navigation {
  display: none;
}

/* the section main */
.main {
  background-color: #191765;
  background-image: url('./image/top-circles.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: auto 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-header {
  display: flex;
  flex-direction: column;
  width: 87%;
  padding: 5% 18%;
}

.header-text {
  font-weight: 700;
  font-size: 45px;
  line-height: 72px;
  letter-spacing: 0.37px;
  color: #7d73fc;
  padding: 15% 1%;
}

.support-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #edecff;
}

.text-container {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  width: 95%;
  padding: 15% 2%;
}

/* container thematic(hr) element */
.thematic {
  display: flex;
  justify-content: center;
  padding: 5%;
  width: 87%;
}

/* Element hr */
hr {
  width: 90%;
  border: 1px solid #646369;
}

/* skill container */
.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  gap: 8px;
}

.language-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 28%;
}

/* Frame-work list container */
.frame-works-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 28%;
}

/* Skill list container */
.skills-container {
  display: flex;
  flex-direction: column;
  width: 28%;
}

li {
  list-style-type: none;
}

/* List element */
.skill-language,
.skill-frame,
.skill-skills {
  padding: 2%;
  font-size: 15px;
  line-height: 24px;
}

/* Header element for language. frame-work, skill */
h5 {
  font-weight: lighter;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #9390ff;
  padding: 5%;
}

/* Social media links container */
.link {
  display: block;
  margin: 0 auto;
  width: 85%;
}

.button-display {
  display: none;
}

.account-links {
  display: flex;
  flex-basis: content;
  width: 70%;
  margin: 0% auto;
  gap: 5px;
  margin-left: 15%;
}

.link-icon {
  width: 85%;
}

/* work button */
.button {
  display: flex;
  flex-direction: row;
  width: 15%;
  height: 4vh;
  padding: 5%;
  border: none;
  gap: 5px;
  margin: 0% auto;
}

/* work element h2 */
.work {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #a2a3ae;
  text-align: center;
}

/* arrow button */
.arrow-down {
  width: 20%;
  height: 4vh;
}

/* Recent - work */
.image-background {
  background-color: #191765;
  width: auto;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.my-work {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  color: #9490ff;
  width: 70%;
  margin-left: 7%;
  margin-top: 3%;
}

.thematic-1 {
  margin: 0%;
  display: flex;
  justify-content: center;
  padding: 5%;
}

.thematic-work {
  width: 85%;
}

/* recent work */
.recent-work {
  background-color: #191765;
  background-image: url('./image/second-background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-placeholder {
  width: 70%;
  height: 20vh;
  margin: 0 auto;
  padding: 8%;
  background-color: white;
}

.image-placeholder-grid {
  margin: 5%;
}

.multi-post-header {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-left: 5%;
  padding: 10%;
}

.multi-post-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  justify-content: left;
  width: 77%;
  padding: 0 9%;
}

/* Programing Language */
.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10% 7%;
}

/* see Project button */
.see-project {
  background-color: #7d73fc;
  padding: 5%;
  font-weight: 500;
  line-height: 24px;
  margin: 10%;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #191765;
  width: 99.9%;
  margin: 0;
}

.desktop-version {
  display: none;
}

/* for contact form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99.9%;
}

.form-paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5ff;
  padding: 5%;
  width: 88.5%;
}

.form-header {
  margin-top: 5%;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #9390ff;
  text-align: center;
}

.input-form {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 94%;
}

input[type=text] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 4%;
  margin: 1%;
  width: 90%;
  color: #81818c;
}

input[type=email] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 5%;
  padding: 3%;
  width: 90%;
  color: #191765;
}

.email-form::placeholder {
  color: #191765;
  opacity: 1;
}

textarea {
  width: 90%;
  margin-top: 7%;
  padding: 4%;
  height: 20vh;
  color: #81818c;
}

.see-project-form {
  background-color: #7d73fc;
  padding: 2%;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 25%;
}

button:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

button:focus {
  background: #7d73fc;
}

button:active {
  background-color: #5e42d7;
}

.footer-line {
  border: 1px solid #3a3837;
  width: 100%;
  margin-left: 0;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3%;
}

.footer-account-links {
  width: 80%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.link-footer {
  padding: 10%;
}

.footer-email {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

.footer-hr {
  margin-top: 5%;
  width: 30%;
  background-color: #0d151e;
  margin-bottom: 0%;
  border: 2px solid #0d151e;
}

@media only screen and (min-width: 768px) {
  /* header log */
  .log {
    line-height: 20px;
    margin: 0%;
    padding: 2% 12%;
    animation: rainbow 6s;
  }

  /* navigation item */

  .icon-bar {
    display: none;
  }

  .item-navigation {
    width: 40%;
  }

  .frame-navigation {
    display: flex;
    list-style-type: none;
    font-weight: 500px;
    font-size: 15px;
    line-height: 28px;
    gap: 20px;
  }

  a {
    text-decoration: none;
  }

  .fa-envelope-o {
    font-size: 18px;
    font-weight: bold;
  }

  /* the section main */
  .main {
    background-image: url('./image/two-circles-header.svg');
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-header {
    align-items: center;
    margin: 0%;
    padding: 3% 18%;
    width: 60%;
  }

  .header-text {
    font-size: 90px;
    line-height: 105px;
    padding: 2% 8%;
  }

  .support-text {
    font-size: 40px;
    line-height: 47px;
    color: #dfe1e6;
    padding: 3% 5%;
  }

  .text-container {
    line-height: 32px;
    color: #b3bac5;
    text-align: center;
    width: 42%;
    padding: 0% 5%;
  }

  .thematic {
    margin: 0% auto;
    justify-content: center;
    padding: 1%;
    width: 90%;
  }

  hr {
    width: 30%;
  }

  /* skill container */
  .experience-container {
    justify-content: space-between;
    gap: 30px;
    width: 30%;
    margin: 0 auto;
  }

  .language-container {
    width: 17%;
    padding: 2%;
  }

  /* Frame-work list container */
  .frame-works-container {
    width: 20%;
    padding: 2%;
  }

  /* Skill list container */
  .skills-container {
    width: 17%;
    padding: 2%;
  }

  h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
  }

  .skill-language {
    font-size: 13.1389px;
    line-height: 25px;
    padding: 4%;
  }

  .skill-frame {
    font-size: 14.1935px;
    line-height: 28px;
    padding: 4%;
  }

  .skill-skills {
    font-size: 14.6667px;
    line-height: 28px;
    padding: 4%;
  }

  /* Social media links container */

  .link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15%;
  }

  .account-links {
    margin-left: 20%;
    padding: 3%;
    width: 95%;
    height: 3vh;
    gap: 15px;
  }

  .link-icon {
    width: 0 auto;
  }

  /* work button */
  .button,
  .button-display {
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 5%;
    height: 1.5vh;
    border: none;
    gap: 2px;
    margin: 0% auto;
  }

  /* arrow button */
  .arrow-down {
    width: 25%;
  }

  /* work element h2 */
  .work {
    font-weight: 400;
    color: #b3bac5;
    text-align: center;
  }

  /* Resent - work */
  .my-work {
    font-weight: 700;
    font-size: 64px;
    line-height: 114px;
    padding: 0% 1%;
    text-transform: none;
  }

  .image-background {
    margin-top: -3%;
  }

  .thematic-work {
    width: 92%;
  }

  .recent-work {
    background-image: url('./image/Group_65.svg');
  }

  .multi-post-grid {
    display: grid;
    padding: 0 8%;
  }

  .multi-post {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    justify-items: center;
    width: 99%;
    padding: 3% 0;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    padding: 15% 0 0 0;
    width: 75%;
  }

  .image-placeholder {
    width: 85%;
    height: 60vh;
    padding: 0% 10%;
    background-color: white;
  }

  .multi-post-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    padding: 5% 2%;
  }

  .multi-post-paragraph {
    width: 70%;
    color: #dfe1e6;
  }

  .icon {
    padding: 2% 10%;
    gap: 20px;
  }

  .see-project {
    background-color: #7d73fc;
    padding: 2% 1%;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    width: 20%;
    margin: 0 0 0 8%;
  }

  .flex-container-grid-2 {
    grid-row: 1 / 2;
  }

  .image-placeholder-grid {
    margin-left: -20%;
    width: 85%;
    height: 55vh;
  }

  /* Footer */

  .mobile-version {
    display: none;
  }

  .desktop-version {
    display: block;
  }

  .form-paragraph {
    margin: 0 auto;
    width: 44%;
    padding: 2%;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
  }

  form {
    width: 50%;
    margin: 0% auto;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 17px;
    line-height: 20px;
    padding: 1%;
    margin: 1%;
  }

  input[type=text] {
    color: #191765;
  }

  input[type=email],
  .email-form::placeholder {
    color: #6d6c70;
  }

  .name-form::placeholder {
    color: #191765;
    opacity: 1;
  }

  textarea {
    border: 2px solid;
    height: 15vh;
  }

  .see-project-form {
    background-color: #7d73fc;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    width: 14%;
    margin: 0;
    margin-bottom: 2%;
    padding: 1% 1%;
  }

  .footer-icons {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: 0 auto;
    align-items: baseline;
    padding-bottom: 1%;
  }

  .footer-hr {
    display: none;
  }

  /* Animation for .log */

  @keyframes rainbow {
    from {
      color: white;
    }

    10% {
      color: indigo;
    }

    25% {
      color: greenyellow;
    }

    50% {
      color: yellow;
    }

    75% {
      color: orange;
    }

    100% {
      color: red;
    }
  }
}
