* {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #fff;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.main {
  background-color: #191765;
  background-image: url("./image/Background-image/top-circles.png");
  background-repeat: no-repeat;
  width: 100%;
}

.top-header {
  display: flex;
  justify-items: space-between;
  padding-top: 1%;
}

.log-div {
  margin-left: 1%;
  padding: 1%;
}

.log {
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  width: 30%;
}

.bar {
  display: block;
  width: 30.33px;
  height: 2px;
  margin: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
}

.frame-navigation {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #191765;
  background-image: url("./image/Background-image/shapes-mobile-menu.png");
  background-repeat: no-repeat;
  transform: translateX(100%);
}

.frame-navigation[data-visible="true"] {
  transform: translateX(0%);
}

.chevron-right {
  text-align: right;
  color: #a8c0da;
}

.item-frame-nav {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding-left: 10px;
  width: 70%;
  padding-bottom: 35px;
  margin: 0 auto;
  display: flex;
  justify-content: baseline;
}

.close-menu {
  text-align: right;
  margin-top: 4px;
  cursor: pointer;
}

.material-symbols-outlined {
  display: block;
}

.fa-envelope-o {
  display: none;
}

.container-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
}

.header-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.37px;
  color: #7d73fc;
  text-align: center;
  padding-top: 40px;
}

.support-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #edecff;
  padding-top: 25px;
}

.text-container {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  padding: 50px 0;
}

/* container thematic(hr) element */
.thematic {
  display: flex;
  justify-content: center;
  padding: 24px 10px;
  width: 90%;
  margin: auto;
}

hr {
  width: 94%;
  border: 1px solid #646369;
}

/* skill container */
.experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
  justify-content: space-around;
  gap: 45px;
  padding: 10px;
}

/* List element */
.skill-language,
.skill-frame,
.skill-skills {
  padding: 5px;
  font-size: 15px;
  line-height: 24px;
}

/* Header element for language. frame-work, skill */
.language-experience {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #9390ff;
  padding: 5px;
}

/* Social media links container */
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin: auto;
  width: 65%;
}

.link-icon {
  width: 60%;
}

.account-links {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding: 10px;
  margin-bottom: 5%;
}

.button {
  display: flex;
  align-items: center;
  width: 40%;
}

.work {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #a2a3ae;
}

.button-display {
  display: none;
}

#arrow-down {
  font-weight: 100;
  font-size: 35px;
  line-height: 32px;
  color: #a2a3ae;
}

.my-work {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  color: #9490ff;
  width: 70%;
  margin-left: 7%;
  margin-top: 10%;
}

.thematic-1 {
  display: flex;
  margin-top: 4%;
  padding: 5%;
}

.thematic-work {
  width: 95%;
}

.recent-work {
  background-color: #191765;
  background-image: url("./image/Background-image/portfolio-background-shapes-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.multi-post-grid {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.multi-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

.image-placeholder {
  width: 97%;
  height: 37vh;
  padding: 2%;
  margin: 0 auto;
}

.multi-post-header {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin: 2%;
  width: 85%;
}

.multi-post-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  justify-content: left;
  width: 90%;
  margin-left: 2%;
  margin-top: 4%;
}

/* see Project button */
.see-project {
  background-color: #6a61d7;
  font-weight: 500;
  line-height: 24px;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 89px;
  height: 48px;
}

.multi-post-skill {
  display: flex;
  width: 30%;
  gap: 15px;
  margin-top: 10%;
}

.post-skill {
  border-right: 2px solid #808080;
  padding: 10px 12px 10px 12px;
}

.multi-post-skill > li:last-child {
  border: none;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #191765;
  width: 99.9%;
  margin: 0;
}

.desktop-version {
  display: none;
}

/* for contact form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99.9%;
}

.form-paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5ff;
  padding: 5%;
  width: 88.5%;
}

.form-header {
  margin-top: 5%;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #9390ff;
  text-align: center;
}

.input-form {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 94%;
}

input[type="text"] {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 4%;
  margin: 1%;
  width: 90%;
  color: #81818c;
}

input[type="email"] {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 5%;
  padding: 3%;
  width: 90%;
  color: #191765;
}

.email-form::placeholder {
  color: #191765;
  opacity: 1;
}

textarea {
  width: 90%;
  margin-top: 7%;
  padding: 4%;
  height: 20vh;
  color: #73737e;
}

.see-project-form {
  background-color: #6a61d7;
  padding: 2%;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 25%;
}

button:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

button:focus {
  background: #7d73fc;
}

button:active {
  background-color: #5e42d7;
}

.footer-line {
  border: 1px solid #3a3837;
  width: 100%;
  margin-left: 0;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3%;
}

.footer-account-links {
  width: 60%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.link-footer {
  padding: 10%;
}

.footer-email {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

.footer-hr {
  margin-top: 5%;
  width: 30%;
  background-color: #0d151e;
  margin-bottom: 0%;
  border: 2px solid #0d151e;
}

#form-validate {
  color: red;
  font-size: 13px;
  margin-bottom: 2%;
}

@media screen and (min-width: 768px) {
  /* header style */
  .main {
    background-image: url("./image/Background-image/two-circles-header.png");
    background-size: contain;
  }

  .log-div {
    padding: 1%;
    width: 30%;
  }

  .log {
    line-height: 20px;
    padding-top: 2%;
    padding-left: 15%;
  }

  .hamburger-menu {
    display: none;
  }

  .material-symbols-outlined {
    display: none;
  }

  .item-navigation {
    position: absolute;
    display: flex;
    background: none;
    padding: 1%;
    width: 48%;
  }

  .frame-navigation {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    background: none;
  }

  .fa-envelope-o {
    display: block;
    font-weight: 600;
    font-size: 18px;
  }

  .item-frame-nav {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .container-header {
    width: 80%;
    padding-left: 0%;
  }

  .header-text {
    font-size: 90px;
    line-height: 105px;
    text-align: center;
    padding-top: 3%;
  }

  .support-text {
    font-size: 40px;
    line-height: 47px;
    color: #dfe1e6;
    padding-top: 5%;
  }

  .text-container {
    line-height: 40px;
    color: #b3bac5;
    text-align: center;
    margin: auto;
    width: 450px;
    padding-left: 0;
    padding-right: 65px;
    padding-top: 10%;
  }

  .thematic {
    width: 500px;
  }

  .experience-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    text-align: left;
    gap: 20px;
  }

  .button-display {
    display: flex;
    width: 30%;
  }

  #arrow-down {
    display: block;
  }

  #arrow-down-1 {
    display: block;
    font-weight: 100;
    font-size: 35px;
    line-height: 32px;
    color: #a2a3ae;
  }

  .account-links {
    width: 40%;
  }

  .links {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    align-items: baseline;
    gap: 25%;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .button {
    padding-bottom: 0;
    width: 15%;
  }

  .link-icon {
    width: 45%;
  }

  /* Resent - work */
  .my-work {
    font-weight: 700;
    font-size: 64px;
    line-height: 114px;
    text-transform: none;
    margin-top: 0%;
    margin-left: 2%;
  }

  .thematic-work {
    width: 100%;
    margin-top: 0%;
    padding: 0%;
  }

  .recent-work {
    background-image: url("./image/Background-image/Group_65.svg");
    background-size: contain;
    width: 99%;
  }

  .multi-post-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 0;
    gap: 58px 0;
    width: 95%;
  }

  .multi-post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    align-items: flex-end;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    max-height: 455px;
  }

  .image-1 {
    order: 0;
  }

  .image-2 {
    order: 1;
  }

  .image-4 {
    order: 3;
  }

  .multi-post-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .multi-post-paragraph {
    width: 83%;
    color: #dfe1e6;
  }

  .see-project {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
  }

  .multi-post-skill {
    display: flex;
    width: 30%;
    gap: 15px;
  }

  .image-placeholder {
    width: 55%;
    height: 548px;
  }

  .flex-container-2 {
    margin: 0 auto;
    padding-left: 2%;
  }

  .flex-container-4 {
    margin: 0 auto;
    padding-left: 2%;
  }

  /* Footer */

  .mobile-version {
    display: none;
  }

  .desktop-version {
    display: block;
  }

  .form-paragraph {
    margin: 0 auto;
    width: 44%;
    padding: 2%;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
  }

  form {
    width: 50%;
    margin: 0% auto;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 17px;
    line-height: 20px;
    padding: 1%;
    margin: 1%;
  }

  input[type=text] {
    color: #191765;
  }

  input[type=email],
  .email-form::placeholder {
    color: #6d6c70;
  }

  .name-form::placeholder {
    color: #191765;
    opacity: 1;
  }

  textarea {
    border: 2px solid;
    height: 15vh;
  }

  .see-project-form {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    width: 14%;
    margin: 0;
    margin-bottom: 2%;
    padding: 1% 1%;
  }

  .footer-icons {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: 0 auto;
    align-items: baseline;
    padding-bottom: 1%;
  }

  .footer-hr {
    display: none;
  }

  @keyframes rainbow {
    from {
      color: white;
    }

    10% {
      color: #8078dd;
    }

    25% {
      color: greenyellow;
    }

    50% {
      color: yellow;
    }

    75% {
      color: orange;
    }

    100% {
      color: red;
    }
  }

  #form-validate {
    font-size: 20px;
  }
}
